
<div class="matcard">
  <mat-spinner *ngIf="globalStat.length === 0"></mat-spinner>
  <mat-card>
    <h3 class="txtBold">Global COVID-2019 Data </h3>
    <span class="txtBold">Total Case : {{ totalCase }}</span>
    <p></p>
    <span class="txtBold"> Recovery : {{ totalRecover }}</span>
    <p></p>
    <span class="txtBold">Toatl UnResolve : {{ totalUnResolve }}</span>
    <p></p>
    <span class="txtBold">Total Death : {{ totalDeath }}</span>
    <p></p>
    <span class="txtBold">Total New Case Today : {{ newCaseToday }}</span>
    <p></p>
    <span class="txtBold">Toal New Death : {{ newDeath }}</span>
    <p></p>
    <span class="txtBold"> Total Active : {{ totalActive }}</span>
    <p></p>
    <span class="txtBold"> Total Serious : {{ totalSerious }}</span>
    <p></p>
  </mat-card>
</div>