<div class="header">
  <app-header></app-header>
</div>
<div class="matcard">
  <mat-card>
    <h3 style="font-weight: bold; margin-left:50px">Global COVID-2019 Data </h3>
    Total Case : {{ totalCase }}
    <p></p>
    Total Recovery : {{ totalRecover }}
    <p></p>
    Toatl UnResolve : {{ totalUnResolve }}
    <p></p>
    Total Death : {{ totalDeath }}
    <p></p>
    Total New Case Today : {{ newCaseToday }}
    <p></p>
    Toal New Death : {{ newDeath }}
    <p></p>
    Total Active : {{ totalActive }}
    <p></p>
    Total Serious : {{ totalSerious }}
    <p></p>
  </mat-card>
</div>