
<div>
  <mat-card>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Country Name</mat-label>
        <input matInput [(ngModel)]="countryCode" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="onSearchClick()">Search</button>
      <button mat-raised-button color="primary"
        (click)="onCancelClick()">Cencel</button>
      <br>
      <label>Please enter full country name (Ex- United States)</label>
    </form>
  </mat-card>
</div>
<br>

<div *ngIf="testBool" style="padding: 13px;">
  <mat-card *ngFor="let product of products" style="margin-top: 10px;">
    <mat-card-header>
      <mat-card-title>#{{product.id}} {{ product.title }}</mat-card-title>
      <mat-card-subtitle>{{ product.time }} </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ product.url }}
      </p>
      <img
        alt=""
        style="height: 100%; width:100%;"
        src="{{ product.image }}"
      />
    </mat-card-content>
  </mat-card>
</div>